html {
  font-family: 'Fredoka One', cursive;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 20px;
}

header {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 15px;
  background-color: #66c4a6;
  width: 700px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container-background {
  background-color: #66c4a6;
  width: 700px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  width: 600px;
  height: 600px;
  border: 1px solid black;
  justify-content: center;
  background-color: white;
}

#gridBox {
  border: 1px solid lightgrey;
}

#controls {
  width: 700px;
  background-color: #66c4a6;
  height: 150px;
  padding: 15px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}